[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #546e7a;
  --primary-hover: #455a64;
  --primary-focus: rgba(84, 110, 122, 0.125);
  --primary-inverse: #fff;
}

[x-cloak] {
  display: none !important;
}

.container {
  display: grid;
  place-content: center;
}

body > header {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--primary);
  background-color: var(--primary-inverse);
  color: var(--contrast);
}

.user-info {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.user-info > p {
  margin-bottom: 0;
}

.user-info > button {
  padding: 0.25rem 0.5rem;
  margin-bottom: 0;
  width: auto;
  font-size: 0.75rem;
}

form {
  max-width: 600px;
}

td > span {
  cursor: pointer;
}

.invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid green;
}
